.monotone-navy {
    color: #001F3F
}
.monotone-navy.readable {
    background-color: white
}
.monotone-navy a:not(.button) {
    color: #001F3F;
    text-decoration: underline
}
.monotone-navy hr, .monotone-navy .border, .monotone-navy .border-top, .monotone-navy .border-right, .monotone-navy .border-bottom, .monotone-navy .border-left, .monotone-navy input, .monotone-navy select {
    border-color: #001F3F
}
.monotone-navy input, .monotone-navy select {
    color: #001F3F;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px
}
.monotone-navy input:focus, .monotone-navy select:focus {
    box-shadow: 0 0 0 3px;
    outline: none
}
.monotone-navy input:focus, .monotone-navy select:focus {}
.monotone-navy code, .monotone-navy pre {
    background-color: rgba(0, 31, 63, 0.25)
}
.monotone-navy.inverse, .monotone-navy .inverse, .monotone-navy .button {
    color: white;
    background-color: #001F3F
}
.monotone-navy.inverse.readable, .monotone-navy.readable .inverse, .monotone-navy.readable .button {
    color: white
}
.monotone-navy.inverse .button, .monotone-navy .inverse .button {
    color: #001F3F;
    background-color: white
}
.monotone-navy.inverse a, .monotone-navy .inverse a {
    color: white
}
.monotone-navy.inverse hr, .monotone-navy .inverse hr, .monotone-navy.inverse .border, .monotone-navy .inverse .border, .monotone-navy.inverse .border-top, .monotone-navy .inverse .border-top, .monotone-navy.inverse .border-right, .monotone-navy .inverse .border-right, .monotone-navy.inverse .border-bottom, .monotone-navy .inverse .border-bottom, .monotone-navy.inverse .border-left, .monotone-navy .inverse .border-left, .monotone-navy.inverse input, .monotone-navy .inverse input, .monotone-navy.inverse select, .monotone-navy .inverse select {
    border-color: white
}
.monotone-navy.inverse input, .monotone-navy .inverse input, .monotone-navy.inverse select, .monotone-navy .inverse select {
    color: white
}
