.monotone-lime {
    color: #01FF70
}
.monotone-lime.readable {
    background-color: #111
}
.monotone-lime a:not(.button) {
    color: #01FF70;
    text-decoration: underline
}
.monotone-lime hr, .monotone-lime .border, .monotone-lime .border-top, .monotone-lime .border-right, .monotone-lime .border-bottom, .monotone-lime .border-left, .monotone-lime input, .monotone-lime select {
    border-color: #01FF70
}
.monotone-lime input:focus, .monotone-lime select:focus {
    box-shadow: 0 0 0 2px #01FF70
}
.monotone-lime code, .monotone-lime pre {
    background-color: color(#01FF70 alpha(.25))
}
.monotone-lime.inverse, .monotone-lime .inverse, .monotone-lime .button {
    color: white;
    background-color: #01FF70
}
.monotone-lime.inverse.readable, .monotone-lime.readable .inverse, .monotone-lime.readable .button {
    color: #111
}
.monotone-lime.inverse .button, .monotone-lime .inverse .button {
    color: #01FF70;
    background-color: #111
}
.monotone-lime.inverse a, .monotone-lime .inverse a {
    color: #111
}
.monotone-lime.inverse hr, .monotone-lime .inverse hr, .monotone-lime.inverse .border, .monotone-lime .inverse .border, .monotone-lime.inverse .border-top, .monotone-lime .inverse .border-top, .monotone-lime.inverse .border-right, .monotone-lime .inverse .border-right, .monotone-lime.inverse .border-bottom, .monotone-lime .inverse .border-bottom, .monotone-lime.inverse .border-left, .monotone-lime .inverse .border-left, .monotone-lime.inverse input, .monotone-lime .inverse input, .monotone-lime.inverse select, .monotone-lime .inverse select {
    border-color: #111
}
