.monotone-teal {
    color: #39CCCC
}
.monotone-teal.readable {
    background-color: #111
}
.monotone-teal a:not(.button) {
    color: #39CCCC;
    text-decoration: underline
}
.monotone-teal hr, .monotone-teal .border, .monotone-teal .border-top, .monotone-teal .border-right, .monotone-teal .border-bottom, .monotone-teal .border-left, .monotone-teal input, .monotone-teal select {
    border-color: #39CCCC
}
.monotone-teal input, .monotone-teal select {
    color: #39CCCC;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px
}
.monotone-teal input:focus, .monotone-teal select:focus {
    box-shadow: 0 0 0 3px;
    outline: none
}
.monotone-teal input:focus, .monotone-teal select:focus {}
.monotone-teal code, .monotone-teal pre {
    background-color: rgba(57, 204, 204, 0.25)
}
.monotone-teal.inverse, .monotone-teal .inverse, .monotone-teal .button {
    color: white;
    background-color: #39CCCC
}
.monotone-teal.inverse.readable, .monotone-teal.readable .inverse, .monotone-teal.readable .button {
    color: #111
}
.monotone-teal.inverse .button, .monotone-teal .inverse .button {
    color: #39CCCC;
    background-color: white
}
.monotone-teal.inverse a, .monotone-teal .inverse a {
    color: white
}
.monotone-teal.inverse hr, .monotone-teal .inverse hr, .monotone-teal.inverse .border, .monotone-teal .inverse .border, .monotone-teal.inverse .border-top, .monotone-teal .inverse .border-top, .monotone-teal.inverse .border-right, .monotone-teal .inverse .border-right, .monotone-teal.inverse .border-bottom, .monotone-teal .inverse .border-bottom, .monotone-teal.inverse .border-left, .monotone-teal .inverse .border-left, .monotone-teal.inverse input, .monotone-teal .inverse input, .monotone-teal.inverse select, .monotone-teal .inverse select {
    border-color: white
}
.monotone-teal.inverse input, .monotone-teal .inverse input, .monotone-teal.inverse select, .monotone-teal .inverse select {
    color: white
}
