.monotone-maroon {
    color: #85144B
}
.monotone-maroon.readable {
    background-color: white
}
.monotone-maroon a:not(.button) {
    color: #85144B;
    text-decoration: underline
}
.monotone-maroon hr, .monotone-maroon .border, .monotone-maroon .border-top, .monotone-maroon .border-right, .monotone-maroon .border-bottom, .monotone-maroon .border-left, .monotone-maroon input, .monotone-maroon select {
    border-color: #85144B
}
.monotone-maroon input, .monotone-maroon select {
    color: #85144B;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px
}
.monotone-maroon input:focus, .monotone-maroon select:focus {
    box-shadow: 0 0 0 3px;
    outline: none
}
.monotone-maroon input:focus, .monotone-maroon select:focus {}
.monotone-maroon code, .monotone-maroon pre {
    background-color: rgba(133, 20, 75, 0.25)
}
.monotone-maroon.inverse, .monotone-maroon .inverse, .monotone-maroon .button {
    color: white;
    background-color: #85144B
}
.monotone-maroon.inverse.readable, .monotone-maroon.readable .inverse, .monotone-maroon.readable .button {
    color: white
}
.monotone-maroon.inverse .button, .monotone-maroon .inverse .button {
    color: #85144B;
    background-color: white
}
.monotone-maroon.inverse a, .monotone-maroon .inverse a {
    color: white
}
.monotone-maroon.inverse hr, .monotone-maroon .inverse hr, .monotone-maroon.inverse .border, .monotone-maroon .inverse .border, .monotone-maroon.inverse .border-top, .monotone-maroon .inverse .border-top, .monotone-maroon.inverse .border-right, .monotone-maroon .inverse .border-right, .monotone-maroon.inverse .border-bottom, .monotone-maroon .inverse .border-bottom, .monotone-maroon.inverse .border-left, .monotone-maroon .inverse .border-left, .monotone-maroon.inverse input, .monotone-maroon .inverse input, .monotone-maroon.inverse select, .monotone-maroon .inverse select {
    border-color: white
}
.monotone-maroon.inverse input, .monotone-maroon .inverse input, .monotone-maroon.inverse select, .monotone-maroon .inverse select {
    color: white
}
