.monotone-purple {
    color: #B10DC9
}
.monotone-purple.readable {
    background-color: white
}
.monotone-purple a:not(.button) {
    color: #B10DC9;
    text-decoration: underline
}
.monotone-purple hr, .monotone-purple .border, .monotone-purple .border-top, .monotone-purple .border-right, .monotone-purple .border-bottom, .monotone-purple .border-left, .monotone-purple input, .monotone-purple select {
    border-color: #B10DC9
}
.monotone-purple input, .monotone-purple select {
    color: #B10DC9;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px
}
.monotone-purple input:focus, .monotone-purple select:focus {
    box-shadow: 0 0 0 3px;
    outline: none
}
.monotone-purple input:focus, .monotone-purple select:focus {}
.monotone-purple code, .monotone-purple pre {
    background-color: rgba(177, 13, 201, 0.25)
}
.monotone-purple.inverse, .monotone-purple .inverse, .monotone-purple .button {
    color: white;
    background-color: #B10DC9
}
.monotone-purple.inverse.readable, .monotone-purple.readable .inverse, .monotone-purple.readable .button {
    color: white
}
.monotone-purple.inverse .button, .monotone-purple .inverse .button {
    color: #B10DC9;
    background-color: white
}
.monotone-purple.inverse a, .monotone-purple .inverse a {
    color: white
}
.monotone-purple.inverse hr, .monotone-purple .inverse hr, .monotone-purple.inverse .border, .monotone-purple .inverse .border, .monotone-purple.inverse .border-top, .monotone-purple .inverse .border-top, .monotone-purple.inverse .border-right, .monotone-purple .inverse .border-right, .monotone-purple.inverse .border-bottom, .monotone-purple .inverse .border-bottom, .monotone-purple.inverse .border-left, .monotone-purple .inverse .border-left, .monotone-purple.inverse input, .monotone-purple .inverse input, .monotone-purple.inverse select, .monotone-purple .inverse select {
    border-color: white
}
.monotone-purple.inverse input, .monotone-purple .inverse input, .monotone-purple.inverse select, .monotone-purple .inverse select {
    color: white
}
